In [1]:
import pandas as pd

In [32]:
df = pd.DataFrame({
    "Company":["Peugeot", "BMW", "Lamborghini"],
    "Model":["405", "i8", "Urus"],
    "Year":[2018, 2020, 2023],
    "Price":[2000, 6500, 4500],
    "Body":["Sedan", "Sport", "Cross-Over"],
    "Country":["France", "Germany", "Italy"]})

In [33]:
df

       Company Model  Year  Price        Body  Country
0      Peugeot   405  2018   2000       Sedan   France
1          BMW    i8  2020   6500       Sport  Germany
2  Lamborghini  Urus  2023   4500  Cross-Over    Italy